<script setup>
import Profile from '../components/backoffice/Profile.vue';
import SideBar from '../components/backoffice/SideBar.vue';
</script>
<template>
    <div class="flex flex-row min-h-screen">
        <SideBar/>
        <Profile/>
    </div>
</template>