<script setup>
import SideBar from '../components/backoffice/SideBar.vue';
import Create from '../components/backoffice/Create.vue';
</script>
<template>
    <div class="flex flex-row min-h-screen">
        <SideBar />
        <Create/>
    </div>
</template>