<script setup>
import Categories from '../components/backoffice/Categories.vue';
import SideBar from '../components/backoffice/SideBar.vue';
</script>
<template>
    <div class="flex flex-row min-h-screen">
        <SideBar />
        <Categories/>
    </div>
</template>