<script setup>
import Carousel from '../components/generals/Carousel.vue';
import Login from '../components/forms/Login.vue';
</script>
<template>
    <div class="flex min-h-screen">
        <div class="w-6/12 bg-black">
            <Login/>
        </div>
        <div class="w-6/12 bg-dark-purple">
            <Carousel />
        </div>
    </div>
</template>