<script setup>
import Carousel from '../components/generals/Carousel.vue';
import Register from '../components/forms/Register.vue';
</script>
<template>
    <div class="flex min-h-screen register">
        <div class="w-6/12 bg-black">
            <Register/>
        </div>
        <div class="w-6/12 bg-dark-purple">
            <Carousel />
        </div>
    </div>
</template>