<script setup>
import { useRoute } from 'vue-router';
import SideBar from '../components/backoffice/SideBar.vue';
import Update from '../components/backoffice/Update.vue';
const route = useRoute();
const params = route.params;
const name = params.name;

</script>
<template>
    <div class="flex flex-row min-h-screen">
        <SideBar />
        <Update :name="name" />
    </div>
</template>