<script setup></script>
<template>
    <div class="w-3/4 bg-black px-[6.875rem] py-[5rem] flex flex-col items-start justify-center">
        <h1 class="text-white font-sans font-bold text-4xl mb-20">
            Lista de Categorías
        </h1>
        <div class="categories grid grid-cols-3 w-full gap-16">
            <div class="bg-dark-purple py-11 px-20 relative rounded-[5px] ">
                <h3 class="text-white text-center font-semibold tracking-[-0.103101px] text-2xl uppercase mb-4">acción</h3>
                <RouterLink to="/categories/edit/accion" class="absolute underline right-[10px] bottom-[6px] text-white tracking-[-0.103101px]">
                    Editar
                </RouterLink>
            </div>
            <div class="bg-dark-purple py-11 px-20 relative rounded-[5px]">
                <h3 class="text-white text-center font-semibold tracking-[-0.103101px] text-2xl uppercase mb-4">aventura</h3>
                <RouterLink to="/categories/edit/aventura" class="absolute underline right-[10px] bottom-[6px] text-white tracking-[-0.103101px]">
                    Editar
                </RouterLink>
            </div>
            <div class="bg-dark-purple py-11 px-20 relative rounded-[5px]">
                <h3 class="text-white text-center font-semibold tracking-[-0.103101px] text-2xl uppercase mb-4">comedia</h3>
                <RouterLink to="/categories/edit/comedia" class="absolute underline right-[10px] bottom-[6px] text-white tracking-[-0.103101px]">
                    Editar
                </RouterLink>
            </div>
            <div class="bg-dark-purple py-11 px-20 relative rounded-[5px]">
                <h3 class="text-white text-center font-semibold tracking-[-0.103101px] text-2xl uppercase mb-4">terror</h3>
                <RouterLink to="/categories/edit/terror" class="absolute underline right-[10px] bottom-[6px] text-white tracking-[-0.103101px]">
                    Editar
                </RouterLink>
            </div>
            <div class="bg-dark-purple py-11 px-20 relative rounded-[5px]">
                <h3 class="text-white text-center font-semibold tracking-[-0.103101px] text-2xl uppercase mb-4">romance</h3>
                <RouterLink to="/categories/edit/romance" class="absolute underline right-[10px] bottom-[6px] text-white tracking-[-0.103101px]">
                    Editar
                </RouterLink>
            </div>
            <div class="bg-dark-purple py-11 px-20 relative rounded-[5px]">
                <h3 class="text-white text-center font-semibold tracking-[-0.103101px] text-2xl uppercase mb-4">misterio</h3>
                <RouterLink to="/categories/edit/misterio" class="absolute underline right-[10px] bottom-[6px] text-white tracking-[-0.103101px]">
                    Editar
                </RouterLink>
            </div>
        </div>
    </div>
</template>