<script setup></script>
<template>
    <div class="w-3/4 bg-black px-[6.875rem] py-[5rem] flex flex-col items-start justify-center">
        <h1 class="text-white font-sans font-medium text-4xl mb-20">
            Hola, <span class="font-bold">Pedro Perez</span>
        </h1>
        <p class="text-white font-sans font-medium text-lg  mb-6">
            Selecciona una opción:
        </p>
        <div class="inline-flex flex-col items-start gap-y-4">
            <RouterLink to="/" class="btn w-full text-center">
                Ver todas las categorias
            </RouterLink>
            <RouterLink to="/" class="btn w-full text-center">
                Crear categorías
            </RouterLink>
            <RouterLink to="/" class="btn w-full text-center">
                Cerrar sesión
            </RouterLink>
        </div>
    </div>
</template>