<script setup></script>
<template>
    <div class="w-1/4 bg-dark-purple flex flex-col justify-start pt-48 px-12 tracking-[-0.103101px]">
        <ul class="mb-9 sidebar">
            <li>
                <h3 class="font-bold text-white text-lg mb-3">
                    Categorías
                </h3>
                <ol>
                    <li class="text-white">
                        <RouterLink to="/categories">
                            Ver todas
                        </RouterLink>
                    </li>
                    <li class="text-white">
                        <RouterLink to="/categories/new">
                            Crear
                        </RouterLink>
                    </li>
                </ol>
            </li>
        </ul>
        <h3 class="font-bold text-white text-lg">
            Cerrar sesión
        </h3>
    </div>
</template>