<script setup>
    defineProps(['name'])
</script>
<template>
    <div class="w-3/4 bg-black px-[6.875rem] py-[5rem] flex flex-col items-start justify-center">
        <h1 class="text-white font-sans font-bold text-4xl mb-10">
            Actualizar categoría
        </h1>
        <div>
            <form @submit.prevent="submitForm" class="form">
                <div class="form__row mb-16">
                    <label for="nameCategory">Nombre de categoría</label>
                    <input class="uppercase" type="text" name="nameCategory" id="nameCategory" :value="name" autocomplete="off">
                </div>
                <div class="form__action flex justify-center">
                    <button class="btn">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</template>