<script setup>
  import { onMounted } from 'vue';
  import Header from './components/generals/Header.vue';
  import { useStore } from 'vuex'

  const store = useStore();

  onMounted(() => {
    const token = localStorage.getItem('token');
    if (token) {
        store.state.registerModule.token;
    }
  })

</script>

<template>
  <div class="min-h-screen">
    <Header/>
    <router-view></router-view>
  </div>
</template>
