@tailwind base;
@tailwind components;
@tailwind utilities;

/* BTN */
.btn{
    @apply inline-block py-5 px-32 bg-light-purple rounded-[10px] font-archivo text-base text-dark-purple
    font-bold;
}
/* Styles Carousel */ 
body .swiper-pagination-bullet {
  @apply bg-gray w-14 rounded-[3.313rem] h-1.5;
}
.swiper{
    @apply h-full;
}
.graphic{
    @apply max-w-[80%] mx-auto ;
}
.graphic__circle{
    @apply absolute w-[33rem] h-[33rem] bg-light-purple z-0 rounded-full left-2/4 translate-x-[-50%];
}
.graphic__character,
.graphic__text{
    @apply relative z-10;
}
.graphic__character img{
    @apply mx-auto h-[39.063rem] w-auto;
}
.graphic__text{
    @apply pt-[1.875rem];
}

/* Forms */
.form .form__row label{
    @apply w-full block font-poppins text-white text-base mb-0.5;
}
.form .form__row input:not([type='radio']) {
    @apply w-full h-14 bg-white/[.47] border-2 border-white border-solid rounded-[10px] px-5
    font-roboto text-base font-normal text-grayLight;
}
.form .form__row input::placeholder,
.form .form__row input::-moz-placeholder{
    @apply font-roboto text-base font-normal text-grayLight;
}
.form .form__registration p{
    @apply relative;
}
.form .form__registration  p:nth-of-type(1)::after,
.form .form__registration  p:nth-of-type(1)::before{
    content: "";
    width: calc(100% / 3);
    @apply  border-2 border-white border-solid absolute top-2/4 translate-y-[-50%];
}
.form .form__registration  p:nth-of-type(1)::after{
    @apply right-0;
}
.form .form__registration p:nth-of-type(1)::before{
    @apply left-0;
}
.form .form__radio{
    @apply relative cursor-pointer h-[20px] w-[20px];
    user-select: none;
}
.form .form__radio input{
    @apply absolute opacity-0 cursor-pointer w-[20px] h-[20px] z-10;
}
.form .form__radio .form__radio__checkmark{
    @apply absolute top-0 left-0 w-[20px] h-[20px] rounded-full bg-white border-2 border-white border-solid bg-white/[.47];
}
.form .form__radio .form__radio__checkmark::after{
    content: "";
    @apply absolute opacity-0 rounded-full w-[10px] h-[10px] top-[3px] left-[3px] bg-white;
}
.form .form__radio input:checked ~ .form__radio__checkmark::after{
    opacity: 1
}
.form .form__radio ~ label{
    @apply pl-[11px];
}

/* Register Page */
.register .bg-dark-purple > .h-full{
    @apply h-auto pt-[16rem];
}
.register .bg-dark-purple .swiper{
    @apply pb-[3rem];
}

/* Sidebar Backoffice */
.sidebar ol{
    @apply relative pl-3;
}
.sidebar ol li:not(:last-child){
    @apply pb-2;
}
.sidebar ol li{
    @apply relative pl-5;
}
.sidebar ol li::after{
    content: '';
    @apply absolute left-0 top-2/4 translate-y-[-50%] rounded-full bg-white w-[6px] h-[6px];
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}