<script setup>
// import Swiper core and required components
import SwiperCore, { Pagination, Autoplay } from "swiper";
// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from 'swiper/vue';
// Import Swiper styles
import 'swiper/css';
import 'swiper/css/pagination';
// install Swiper components
SwiperCore.use([Pagination, Autoplay]);
</script>
<template>
    <div class="pt-[6rem] h-full pb-[4.625rem]">
        <swiper :slides-per-view="1" :pagination="{ clickable: true }" :autoplay="{ delay : 2000 }" :speed="800"  :loop="true">
            <swiper-slide>
                <div class="graphic h-full flex flex-wrap flex-col justify-start">
                    <div class="graphic__circle"></div>
                    <div class="graphic__character pt-[5rem]"> 
                        <img src="../../assets/carousel/graphic1.png" alt="">
                    </div>
                    <div class="graphic__text">
                        <h2 class="text-[5rem] leading-[5.875rem] text-center text-white font-sans font-black tracking-[.065rem]">
                            anime<span class="text-purple pl-[.065rem] inline-block">inosuke.</span>
                        </h2>
                        <p class="text-white text-center text-lg font-sans w-[28.938rem] mx-auto">
                            Ver anime en línea en HD, subtitulado o doblado,
                            en tu celular o computadora.
                            ¡Animeyabu, tu portal de anime en línea!
                        </p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="graphic h-full flex flex-wrap flex-col justify-start">
                    <div class="graphic__circle"></div>
                    <div class="graphic__character pt-[4.063rem]">
                        <img src="../../assets/carousel/graphic2.png" alt="">
                    </div>
                    <div class="graphic__text">
                        <h2 class="text-[5rem] leading-[5.875rem] text-center text-white font-sans font-black tracking-[.065rem]">
                            anime<span class="text-purple pl-[.065rem] inline-block">Kyojuro.</span>
                        </h2>
                        <p class="text-white text-center text-lg font-sans w-[28.938rem] mx-auto">
                            Ver anime en línea en HD, subtitulado o doblado,
                            en tu celular o computadora.
                            ¡Animeyabu, tu portal de anime en línea!
                        </p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="graphic h-full flex flex-wrap flex-col justify-start">
                    <div class="graphic__circle"></div>
                    <div class="graphic__character pt-[4.063rem]">
                        <img src="../../assets/carousel/graphic3.png" alt="">
                    </div>
                    <div class="graphic__text">
                        <h2 class="text-[5rem] leading-[5.875rem] text-center text-white font-sans font-black tracking-[.065rem]">
                            anime<span class="text-purple pl-[.065rem] inline-block">yabu.</span>
                        </h2>
                        <p class="text-white text-center text-lg font-sans w-[28.938rem] mx-auto">
                            Ver anime en línea en HD, subtitulado o doblado,
                            en tu celular o computadora.
                            ¡Animeyabu, tu portal de anime en línea!
                        </p>
                    </div>
                </div>
            </swiper-slide>
        </swiper>
    </div>
</template>