<script setup></script>
<template>
    <header class="fixed w-screen">
        <div class="px-[1.438rem] py-[1.188rem]">
            <div class="flex flex-row justify-start items-center gap-x-1">
                <div class="logo">
                    <img src="../../assets/header/logo.svg" alt="">
                </div>
                <div class="nameSite">
                    <p class="text-[1.375rem] text-white font-roboto font-black tracking-[.065rem]">
                        anime<span class="text-purple pl-[.065rem] inline-block">yabu.</span>
                    </p>
                </div>
            </div>
        </div>
    </header>
</template>