<script setup>
import { computed, ref} from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router'

const store = useStore();
const router = useRouter();

const email = ref('');
const password = ref('');

/* Generate Signature */

const signature = computed(() => store.state.signatureModule.signatureHash)

/* END Generate Signature */

const submitForm = async () => {
    const PUBLIC_KEY = import.meta.env.VITE_PUBLIC_KEY
    const timeStampu = await store.dispatch('signatureModule/fetchSignature')
    const formData = await {
        email: email.value,
        password: password.value,
        apiKey: PUBLIC_KEY,
        utcTimeStamp: timeStampu,
        signature: signature.value

    }
    const success = await store.dispatch('loginModule/login', formData)
    await console.log(success)
    if (success) {
        router.push('/backoffice')
    }
    return 
    store.dispatch('signatureModule/fetchSignature')
        .then((response)=> {
            let timeStampu = response
            const formData = {
                email: email.value,
                password: password.value,
                apiKey: PUBLIC_KEY,
                utcTimeStamp: timeStampu,
                signature: signature.value

            }
            store.dispatch('loginModule/login', formData)
            .then((response) => {
                console.log(response)
                return
                if (success) {
                    router.push('/backoffice')
                }
            })
            .catch((error) => {
                console.log(error)
            })
        })
        .catch((error) => {
            console.log(error)
        })
}
</script>
<template>
    <div class="page w-[42.5rem] mx-auto">
        <div class="top mt-[8rem] flex flex-wrap justify-center flex-col">
            <img class="mb-1.5" src="src/assets/generals/graphic.svg" alt="">
            <img class="mb-6" src="src/assets/generals/lettersChinese.svg" alt="">
            <p class="font-roboto text-base text-white tracking-[.065em] italic text-center">¡Hola, te extrañamos!</p>
        </div>
       <form @submit.prevent="submitForm" class="form mt-9">
            <div class="form__row mb-6">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="usuario@" v-model="email" autocomplete="off">
            </div>
            <div class="form__row mb-2">
                <label for="password">Contraseña</label>
                <div class="form__show relative">
                    <input type="password" name="password" id="password" v-model="password" autocomplete="off">
                    <img class="absolute top-2/4 right-[23px] translate-y-[-50%] cursor-pointer" src="src/assets/generals/eye.svg" alt="">
                </div>
            </div>
            <div class="form__forgotPassword mb-4">
                <a class="text-sm block text-right font-poppins text-light-purple" href="/">¿Olvido la contraseña?</a>
            </div>
            <div class="form__action flex justify-center">
                <button class="btn">Acceder</button>
            </div>
            <div class="form__registration mt-14">
                <p class="text-base text-white text-center font-poppins tracking-[-0.103101px]">Registrate también con</p>
                <ul class="form__registration__social mt-5 flex justify-center gap-x-11">
                    <li>
                        <a href="">
                            <img src="src/assets/generals/ig.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="src/assets/generals/tw.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="src/assets/generals/fb.svg" alt="">
                        </a>
                    </li>
                </ul>
                <p class="text-base text-white text-center font-roboto tracking-[.065em] my-10">
                    ¿Quieres registrate?  
                    <RouterLink to="/register">
                        <span class="text-light-purple">Registrate</span>
                    </RouterLink>
                </p>
            </div>
       </form> 
    </div>
</template>