<script setup>
import { reactive, computed, ref} from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const name = ref('');
const lastname = ref('');
const telephone = ref('');
const identy_document = ref('');
const nit = ref('');
const razon_social = ref('');
const password = ref('');
const password_confirmation = ref('');
const email = ref('');


/* Functions by hide or show input depending type of person */

const isChange = reactive({
    state: '',
    typePerson: 'natural',
    idType : null
})


const listenChangeType = computed(() => {
    if (isChange.typePerson === "natural"){
        isChange.state = false
        isChange.idType = 2
    } else{
        isChange.state = !isChange.state
        isChange.idType = 1
    }
    return {
        id : isChange.idType,
        name : isChange.state,
    }
})

const changeTypePerson = ({ target }) => {
    isChange.typePerson = target.value
}

/* END Functions by hide or show input depending type of person */

/* Generate Signature */

const signature = computed(() => store.state.signatureModule.signatureHash)

/* END Generate Signature */

/* Get Values Form Register */

const submitForm = async () => {
    let PUBLIC_KEY = import.meta.env.VITE_PUBLIC_KEY
    store.dispatch('signatureModule/fetchSignature')
        .then((response) => {
            let timeStampu = response
            const formData = {
                ...(name.value.length > 0 && {name : name.value}),
                ...(lastname.value.length > 0 && {lastname : lastname.value}),
                ...(!isNaN(identy_document.value) && {identy_document : identy_document.value}),
                ...(nit.value <= 0   && {nit : nit.value}),
                ...(razon_social.value.length > 0 && {razon_social : razon_social.value}),
                telephone: telephone.value,
                type_user_id: isChange.idType,
                verify_tc: 1,
                password: password.value,
                password_confirmation: password_confirmation.value,
                email: email.value,
                apiKey: PUBLIC_KEY,
                utcTimeStamp: timeStampu,
                signature: signature.value

            }
            store.dispatch('registerModule/sendDataForm', formData)
        })
        .catch((error) => {
            console.log(error)
        })
}


</script>
<template>
    <div class="pt-[6rem] pl-[1.438rem]">
        <router-link to="/">
            <img src="src/assets/generals/back.svg" alt="">
        </router-link>
    </div>
    <div class="page w-[42.5rem] mx-auto">
        <div class="top mt-[1rem] flex flex-wrap justify-center flex-col">
            <img class="mb-1.5" src="src/assets/generals/graphic.svg" alt="">
            <img class="mb-6" src="src/assets/generals/lettersChinese.svg" alt="">
            <p class="font-roboto text-base text-white tracking-[.065em] italic text-center">¡Hola, te extrañamos!</p>
        </div>
        <form @submit.prevent="submitForm" class="form mt-9">
            <div class="form__row mb-8 grid grid-cols-3">
                <div>
                    <label for="typePerson">Tipo de persona</label>
                </div>
                <div class="flex flex-row items-center gap-x-3">
                    <div class="form__radio">
                        <input checked value="natural" type="radio" name="typePerson" id="natural"
                            @change="changeTypePerson($event)">
                        <div class="form__radio__checkmark"></div>
                    </div>
                    <label for="natural"> Natural </label>
                </div>
                <div class="flex flex-row items-center gap-x-3">
                    <div class="form__radio">
                        <input value="legal" type="radio" name="typePerson" id="legal" @change="changeTypePerson($event)">
                        <div class="form__radio__checkmark"></div>
                    </div>
                    <label for="natural"> Jurídica </label>
                </div>
            </div>
            <transition name="fade">
                <div v-if="!listenChangeType.name">
                    <div class="form__row mb-6">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" v-model="name" autocomplete="off">
                    </div>
                    <div class="form__row mb-6">
                        <label for="lastname">Apellido</label>
                        <input type="text" name="lastname" id="lastname" v-model="lastname" autocomplete="off">
                    </div>
                </div>
                <div v-else>
                    <div class="form__row mb-6">
                        <label for="rsocial">Razón social</label>
                        <input type="text" name="rsocial" id="rsocial" v-model="razon_social" autocomplete="off">
                    </div>
                    <div class="form__row mb-6">
                        <label for="nit">NIT</label>
                        <input type="number" name="nit" id="nit" v-model="nit" autocomplete="off">
                    </div>
                </div>
            </transition>
            <div class="form__row mb-6">
                <label for="phone">Teléfono</label>
                <input type="number" name="phone" id="phone" v-model="telephone" autocomplete="off">
            </div>
            <transition name="fade">
                <div v-if="!listenChangeType.name" class="form__row mb-6">
                    <label for="identification">Número de identificación</label>
                    <input type="number" name="identification" id="identification" v-model="identy_document" autocomplete="off">
                </div>
            </transition>
            <div class="form__row mb-6">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" v-model="email" autocomplete="off">
            </div>
            <div class="form__row mb-6">
                <label for="password">Contraseña</label>
                <div class="form__show relative">
                    <input type="password" name="password" id="password" v-model="password" autocomplete="off">
                    <img class="absolute top-2/4 right-[23px] translate-y-[-50%] cursor-pointer"
                        src="src/assets/generals/eye.svg" alt="">
                </div>
            </div>
            <div class="form__row mb-6">
                <label for="confirmpassword">Confirmar contraseña</label>
                <div class="form__show relative">
                    <input type="password" name="confirmpassword" id="confirmpassword" v-model="password_confirmation" autocomplete="off">
                    <img class="absolute top-2/4 right-[23px] translate-y-[-50%] cursor-pointer"
                        src="src/assets/generals/eye.svg" alt="">
                </div>
            </div>
            <div class="form__action flex justify-center">
                <button class="btn">Registrar</button>
            </div>
            <div class="form__registration mt-14">
                <p class="text-base text-white text-center font-poppins tracking-[-0.103101px]">Registrate también con</p>
                <ul class="form__registration__social mt-5 flex justify-center gap-x-11">
                    <li>
                        <a href="">
                            <img src="src/assets/generals/ig.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="src/assets/generals/tw.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="src/assets/generals/fb.svg" alt="">
                        </a>
                    </li>
                </ul>
                <p class="text-base text-white text-center font-roboto tracking-[.065em] my-10">
                    ¿Ya estás registrado?
                    <RouterLink to="/">
                        <span class="text-light-purple">Acceder</span>
                    </RouterLink>
                </p>
            </div>
        </form>
    </div>
</template>